<div class="col-lg-12">

  <div class="main_content">

                          <!-- Category -->

                          <div class="category">
                                  

                                  <div class="section_content">
                                          
                                                  <div class="loaderParent" >

                                                                  <div>
                                                                      <img class="loaderParentImg" src="assets/saucer.png" />
                                                                      <p> Comming Soon  </p>
                                                                  </div>
                              
                                                                  <div *ngIf="stopLoading == false" class="loader"></div>
                                                  </div>
</div>
</div>
</div>
</div>
