<!-- Main Content -->
<div class="col-lg-12">

			<div class="main_content">

						<!-- Category -->

						<div class="category">
							
                    
                            <div class="section_panel align-items-center">
                                                
                                        <div class="section_title section_tags ml-auto">
                                                
                                                <ul class="align-items-center" >


                                                                        <li *ngFor="let filterButton of filterButtons" [ngClass]="{ active: activeRoute( filterButton ) === true }" (click)="selectThisButton(filterButton)" > 
                                                                        
                                                                                <a>
                
                                                                                        <i class="fa {{ filterButton.icon }}"></i>
                                                        
                                                                                        {{ filterButton.title }}
                                                                                </a>
                                                                                
                
                                                                        </li>
                
                                                </ul>

                                        </div>

                            </div>

							<div class="section_content">

                                <div class="loaderParent" *ngIf="allDeals.length == 0" >

                                    <div *ngIf="stopLoading == true"  >
                                        <img class="loaderParentImg" src="../../../assets/saucer.png" />
                                        <p> No items available to display  </p>
                                    </div>

                                    <div *ngIf="stopLoading == false" class="loader"></div>
                                </div>

								<div class="flex clearfix">

									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item singleFullCouponBox" *ngFor="let feed of allDeals" >

                                        <!-- connections buttons -->
                                        <div class="feedBottomConnectionsIcons displayFlex boxShadowed" *ngIf="utils.returnLoggedInOrNot() == true" >
                                                    
                                                         
                                            <i 
                                                *ngFor="let userIntIcon of userInteractionIcons" 
                                                id="{{feed?.id}}" 
                                                class="fa {{userIntIcon.icon}} colorNavy"
                                                (click)="bookmarkThisFeed(userIntIcon,feed)"
                                            ></i> 
                            
                                            
                                        </div>

                                      <div class="card-img-top-div" >

                                            <!-- card image -->
                                        <img class="card-img-top" alt="deal_image" *ngIf="feed?.imageUrl !== null && feed?.imageUrl.length > 6" src="{{ feed?.imageUrl }}" onerror="this.onerror=null;this.src='../../../assets/img/deals_2.png' " />
                                        <img class="card-img-top" alt="deal_image" *ngIf="feed?.base64ImageBytes !== null && feed?.base64ImageBytes.length > 6" [src]="feed.base64ImageBytes | safeContent " onerror="this.onerror=null;this.src='../../../assets/img/deals_2.png' " />
                                        <img class="card-img-top" alt="deal_image" *ngIf="utils.returnDefualtImageForSite(feed?.base64ImageBytes, feed?.imageUrl)" src="../../../assets/img/deal_3.png" onerror="this.onerror=null;this.src='../../../assets/img/deal_3.png' " />


                                        </div>

										<div class="card-body">

                                                      <!-- vendor -->
                                                      <small class="post_meta"> {{ feed?.vendor }} </small>
                                                
                                                      <!-- title -->
                                                      <div class="card-title card-title-small"><a> {{ feed?.title }} </a></div>
              
                                                  
                                                      <!-- expires -->
                                                      <small class="post_meta"><a href="#">  Expires: </a><span> {{ feed?.formattedDate }} </span></small>
          
                                                      
                                                      <!-- selling price -->
                                                      <small class="post_meta discount_price"><a href="#">  Price: </a><span> $0 </span></small>
          

                                            <div class="feedBottomConnections flexThis" >
    
                                                <a target="_blank" href="{{feed?.url}}" >
                                                    <button class="feedGetCoupon" >  Get this coupon  </button>
                                                </a> 
                        
                                                <button class="feedOpenMoreInfo" (click)="utils.openFeedDialogInfo(feed)" > 

                                                    <img  src="../../../assets/new/images/open.png" alt="open_this_deal">

                                                </button>

                                            </div>       
                                            
                                        </div>
                                        
                                        </div>

                                </div>
                                
								<!-- grid clearfix ends here -->
							</div>
						

						</div>

			</div>


			<div class="load_more">
			</div>

</div>











