<div class="card itemInfoDialogBox" >
    

    <div class="card-img-top-div" >

        <!-- coupons card -->
        <img  class="card-img-top" alt="deal_image" *ngIf="feed?.imageUrl !== null && feed?.imageUrl.length > 6" src="{{ feed?.imageUrl }}" onerror="this.onerror=null;this.src='../../../assets/img/deals_2.png' " />
        <img  class="card-img-top" alt="deal_image" *ngIf="feed?.base64ImageBytes !== null && feed?.base64ImageBytes.length > 6" [src]="feed.base64ImageBytes | safeContent " onerror="this.onerror=null;this.src='../../../assets/img/deals_2.png' " />
        <img  class="card-img-top" alt="deal_image" *ngIf="returnDefualtImageForSite(feed?.base64ImageBytes, feed?.imageUrl)" src="../../../assets/img/deal_3.png" onerror="this.onerror=null;this.src='../../../assets/img/deal_3.png' " />

    </div>


    <div class="card-body">
                                                
        <!-- vendor -->
        <small class="post_meta"> {{ feed?.vendor }} </small>

        <!-- title -->
        <div class="card-title card-title-small"><a> {{ feed?.title }} </a></div>

        <!-- description -->
        <small class="post_meta"><a> {{ feed?.description }} </a></small>

        
        <!-- expires -->
        <small class="post_meta"><a>  Expires: </a><span> {{ feed?.formattedDate }} </span></small>

        
        <!-- selling price -->
        <small class="post_meta discount_price"><a>  Price: </a><span> $0 </span></small>


        <!-- bottom icons -->
        <div class="feedBottomConnections flexThis" >

            <a target="_blank" href="{{feed?.url}}" >
                <button class="feedGetCoupon" >  Get this deal  </button>
            </a> 

            <!-- <button class="feedOpenMoreInfo" (click)="utils.openFeedDialogInfo(feed)" > 

                <img  src="../../../assets/new/images/open.png" alt="open_this_deal">

            </button> -->

        </div>       
        
    </div>


</div>